This notebook is to evaluate the forecasting provided by ELIA in terms of evaluation metrics to serve as a baseline.

In [73]:
import pandas as pd 
from datetime import datetime, timedelta

In [96]:

data = pd.read_csv('ELIA_23August2024.csv',sep=';', index_col=0, parse_dates=True)

In [97]:
data.head()

,Resolution code,Total Load,Most recent forecast,Most recent P10,Most recent P90,Day-ahead 6PM forecast,Day-ahead 6PM P10,Day-ahead 6PM P90,Week-ahead forecast
Datetime,,,,,,,,,
2024-08-30 23:45:00+02:00,PT15M,NaN,8283.41,7784.85,8781.97,8283.41,7784.85,8781.97,8283.41
2024-08-30 23:30:00+02:00,PT15M,NaN,8424.52,7917.47,8931.57,8424.52,7917.47,8931.57,8424.52
2024-08-30 23:15:00+02:00,PT15M,NaN,8586.38,8069.59,9103.18,8586.38,8069.59,9103.18,8586.38
2024-08-30 23:00:00+02:00,PT15M,NaN,8756.70,8229.66,9283.75,8756.70,8229.66,9283.75,8756.70
2024-08-30 22:45:00+02:00,PT15M,NaN,8746.25,8242.58,9249.91,8746.25,8242.58,9249.91,8746.25

In [98]:
# find the first not na in Total Load 
first_valid_index = data['Total Load'].first_valid_index()
data = data.loc[data.index < first_valid_index]
data

,Resolution code,Total Load,Most recent forecast,Most recent P10,Most recent P90,Day-ahead 6PM forecast,Day-ahead 6PM P10,Day-ahead 6PM P90,Week-ahead forecast
Datetime,,,,,,,,,
2024-08-23 04:15:00+02:00,PT15M,7378.27,7387.74,7206.74,7568.74,7530.12,7309.20,7751.03,NaN
2024-08-23 04:00:00+02:00,PT15M,7361.58,7382.33,7201.47,7563.20,7502.57,7282.47,7722.68,NaN
2024-08-23 03:45:00+02:00,PT15M,7215.68,7227.33,7046.09,7408.57,7485.72,7264.91,7706.53,NaN
2024-08-23 03:30:00+02:00,PT15M,7273.88,7218.03,7037.02,7399.03,7478.08,7257.50,7698.66,NaN
2024-08-23 03:15:00+02:00,PT15M,7407.23,7230.58,7049.28,7411.88,7486.94,7266.10,7707.79,NaN
...,...,...,...,...,...,...,...,...,...
2015-01-01 01:00:00+01:00,PT15M,9755.00,9222.33,8880.23,9564.44,10130.36,9777.87,10482.86,9203.25
2015-01-01 00:45:00+01:00,PT15M,9821.78,9025.46,8432.07,9618.85,9216.09,8625.97,9806.20,9319.45
2015-01-01 00:30:00+01:00,PT15M,9952.87,9174.72,8571.51,9777.92,9367.66,8767.84,9967.47,9473.22
2015-01-01 00:15:00+01:00,PT15M,10051.28,9329.17,8715.80,9942.53,9526.54,8916.55,10136.53,9653.31
2015-01-01 00:00:00+01:00,PT15M,10142.19,9496.05,8871.71,10120.38,9697.59,9076.64,10318.53,9833.37

In [99]:
# let's find the other nans indexes
data.loc[data['Total Load'].isna()].index

Index([2023-09-11 11:00:00+02:00, 2023-08-16 08:45:00+02:00,
       2023-08-16 08:30:00+02:00, 2023-08-16 08:15:00+02:00,
       2023-08-16 08:00:00+02:00, 2023-08-16 07:45:00+02:00,
       2023-08-16 07:30:00+02:00, 2023-08-16 07:15:00+02:00,
       2023-08-16 07:00:00+02:00, 2023-08-16 06:45:00+02:00,
       ...
       2023-08-10 23:45:00+02:00, 2023-08-10 23:30:00+02:00,
       2023-08-10 23:15:00+02:00, 2023-08-10 23:00:00+02:00,
       2023-08-10 11:15:00+02:00, 2023-08-10 11:00:00+02:00,
       2021-10-31 02:45:00+02:00, 2021-10-31 02:30:00+02:00,
       2021-10-31 02:15:00+02:00, 2021-10-31 02:00:00+02:00],
      dtype='object', name='Datetime', length=149)

In [100]:
data = data.fillna(method='bfill')

C:\Users\gmpal\AppData\Local\Temp\ipykernel_25812\2870717442.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data = data.fillna(method='bfill')

In [101]:
from sklearn.metrics import mean_absolute_percentage_error, mean_absolute_error, mean_squared_error, root_mean_squared_error

starting_hour = data.index.min()
ending_hour = data.index.max()

metrics = pd.DataFrame(columns=['1-step-ahead','2-steps-ahead','3-steps-ahead','4-steps-ahead'], index=['rmse','mse','mape','mae'])

one_step = data.loc[data.index.map(lambda x: x.minute == 15)]
two_steps = data.loc[data.index.map(lambda x: x.minute == 30)]
three_steps = data.loc[data.index.map(lambda x: x.minute == 45)]
four_steps = data.loc[data.index.map(lambda x: x.minute == 00)]

for step, step_data in enumerate([one_step,two_steps,three_steps,four_steps]):

    y_true = step_data['Total Load']
    y_hat = step_data['Most recent forecast']

    rmse = root_mean_squared_error(y_true, y_hat)
    mse = mean_squared_error(y_true,y_hat)
    mape = mean_absolute_percentage_error(y_true,y_hat)
    mae = mean_absolute_error(y_true,y_hat)

    metrics.iloc[:,step] = [rmse,mse,mape,mae]

In [102]:
metrics

      1-step-ahead 2-steps-ahead 3-steps-ahead 4-steps-ahead
rmse    247.206973    253.827454    258.218689    245.209663
mse   61111.287299  64428.376162  66676.891443  60127.778789
mape      0.018892      0.019333      0.019831      0.018699
mae     180.700297    185.022875    189.719728    178.959323

Metric seem coherent with the multiple-step-ahead forecast, (error gets larger), but it seems like the points with minute '00' are the first to be predicted rather than the last ones

In [103]:
# If that was the case 

from sklearn.metrics import mean_absolute_percentage_error, mean_absolute_error, mean_squared_error, root_mean_squared_error

starting_hour = data.index.min()
ending_hour = data.index.max()

metrics = pd.DataFrame(columns=['1-step-ahead','2-steps-ahead','3-steps-ahead','4-steps-ahead'], index=['rmse','mse','mape','mae'])

one_step = data.loc[data.index.map(lambda x: x.minute == 00)]
two_steps = data.loc[data.index.map(lambda x: x.minute == 15)]
three_steps = data.loc[data.index.map(lambda x: x.minute == 30)]
four_steps = data.loc[data.index.map(lambda x: x.minute == 45)]

for step, step_data in enumerate([one_step,two_steps,three_steps,four_steps]):

    y_true = step_data['Total Load']
    y_hat = step_data['Most recent forecast']

    rmse = root_mean_squared_error(y_true, y_hat)
    mse = mean_squared_error(y_true,y_hat)
    mape = mean_absolute_percentage_error(y_true,y_hat)
    mae = mean_absolute_error(y_true,y_hat)

    metrics.iloc[:,step] = [rmse,mse,mape,mae]

metrics

      1-step-ahead 2-steps-ahead 3-steps-ahead 4-steps-ahead
rmse    245.209663    247.206973    253.827454    258.218689
mse   60127.778789  61111.287299  64428.376162  66676.891443
mape      0.018699      0.018892      0.019333      0.019831
mae     178.959323    180.700297    185.022875    189.719728